.main__developer {
  /* position: relative; */
  display: block;
  margin: 80px 50px 220px 50px;
}

.interview__bottom-container {
  background-color: coral;
  position: fixed;
  bottom: 80px;
  width: 100%;
  height: 150px;
  border-top: 1px red solid;
  z-index: 9999999;
}

/* .arrow-container {
  position: fixed;
  bottom: 280px;
  width: 100%;
  z-index: 999999;
} */

/* .interview__arrow-column {
  display: flex;
  justify-content: center;
  font-size: 24px;
} */

/* .arrowicon-left-span {
  margin-right: 30px;
}
.arrowicon-left-span,
.arrowicon-right-span {
  font-size: 24px;
  font-weight: 700;
} */

/* input[id="arrowicon-left"],
input[id="arrowicon-right"] {
  display: none;
}


input[id="arrowicon-left"] + label {
  display: block;
  background-color: red;
  z-index: 999;
} */

/* 인터뷰 컨텐츠 내용 다시... */
.interview__accordion {
  position: relative;
}

input[id*='answer'] {
  display: none;
}

input[id*='answer'] + label {
  display: block;
  cursor: pointer;
  padding: 20px;
  font-weight: 700;
  /* position: relative; */
  font-size: 16px;
}

input[id*='answer'] + label + div {
  max-height: 0;
  transition: all 0.3s;
  overflow: hidden;
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
}

input[id*='answer'] + label + div p {
  width: 100%;
  padding: 20px;
  max-width: 500px;
  font-weight: 500;
  line-height: 1.5em;
}

input[id*='answer']:checked + label + div {
  max-height: 300px;
}

.interview__body {
  height: min-content;
}
