.home {
  position: absolute;
  height: 100%;
  width: 100%;
}

.home .home-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-60%); */
  display: block;
  max-width: 700px;
  overflow: auto;
}

.home__contents {
  display: flex;
  justify-content: center;
}

.home .home__contents-text {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 29px;
  font-weight: 400;
  opacity: 0.9;
  /* justify-content: center; */
}
