@import "reset.css";
@import "menu.css";
@import "footer.css";
@import "home.css";
@import "developer.css";
@import "book.css";
@import "travel.css";
@import "dream.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #020202;
  /* padding: 10px 0px; */
  /* z-index: 2; */
  /* position: ; */
  /* line-height: 12px; */
  /* height: 100vh; */
height: 100%;
  /* overflow: hidden; 이거 설정하니까 화면이 안움직이네.... */
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: 20px;
  height: 100%;
}
* {
  box-sizing: border-box;
}
