.travel-content {
  display: block;
  width: 400px;
  height: 300px;
}

.travel__content-text {
  position: absolute;
  left: 60%;
  top: 55%;
  transform: translateY(-35%);
  display: block;
  flex-direction: column;
}

.travel__content-text1,
.travel__content-text2 {
  font-weight: 700px;
  font-size: 30px;
}
.travel__content-text1 {
  margin-bottom: 15px;
}
